<div class="container">
  <h3>Overview</h3>
  <p>Sans the skeleton is a dangerous monster with incredible power.
    He is, for the most part, passive and lazy.  However, if you manage
    to piss him off, he will not hesitate to give you a very bad time.
  </p>
  <br/>
  <br/>
  <p>Sans is, like all monsters of the underground, susceptible to physical damage.  In fact, a cursory scan reveals
    that Sans has only 1 hp.  The only problem is that he is impossible to hit from head on, as he can instantly dodge
    any incoming attack.  The only option is a surprise attack and even that is difficult to pull off.</p>
    <p><u>Termination of Sans</u></p>
      <app-videos></app-videos>
  </div>

  <div class="container ">
    <br>
    <h4>Abilities include:</h4>
    <ul>
      <li>Teleportation/ incredibly fast movement</li>
      <li>Bone based attacks similar to his brother's, but far more intense</li>
      <li>Summoning goat skulls that shoot burning lasers</li>
      <li>"Grounding" a human's soul, again just like his brother</li>
      <li>Any damage done by Sans gives no "invincibility frames" and leaves behind additional "poison damage"</li>
      <li>This "poison" cannot kill, but can weaken a human's health down to 1 hp</li>
      <li>All of these attributes combined makes Sans capable of killing a human in seconds if caught off guard</li>
    </ul>

    <img src="sans-agressive.jpg" class="img-responsive"/>
  </div>
